.footer {
  background-color: #211E1E; /* azul oscuro */
  color: #eee;
  padding: 40px 20px 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9rem;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}

.footer-section {
  flex: 1 1 220px;
  min-width: 220px;
}

.footer-section h3 {
  font-size: 1.3rem;
  margin-bottom: 15px;
  color: #f3f4f6;
}

.footer-section p,
.footer-section ul,
.footer-section a {
  color: #d1d5db;
  text-decoration: none;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a:hover {
  color: #93c5fd;
}

.footer-section.social .social-icons a {
  display: inline-block;
  margin-right: 16px;
  color: #d1d5db;
  font-weight: 600;
  transition: color 0.3s ease;
}

.footer-section.social .social-icons a:hover {
  color: #93c5fd;
}

.footer-bottom {
  margin-top: 30px;
  text-align: center;
  border-top: 1px solid #1b1919;
  padding-top: 15px;
  font-size: 0.8rem;
  color: #9ca3af;
}

.map-container {
  margin-top: 10px;
  width: 100%;
  max-width: 100%;
}


/* Responsive */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    gap: 30px;
  }

  .footer-section {
    min-width: 100%;
  }
}
