/* src/componentes/Breadcrumb.css */
.breadcrumb-container {
  font-size: 0.95rem;
  margin: 20px auto 10px;
  max-width: 70%;
  padding: 0 20px;
  color: #333;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.breadcrumb-link {
  color: #333;
  text-decoration: none;
  transition: color 0.2s ease;
}

.breadcrumb-link:hover {
  color: #000000;
  font-weight: 500;

}

.breadcrumb-separator {
  margin: 0 4px;
  color: #333;
  font-weight: 600;
}

.breadcrumb-final {
  color: #E04009;
  font-weight: 700;
}

@media (max-width: 768px) {
  .breadcrumb-container {
  display: none;
  }

}